*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //background-color: white;
    //background-color:red;
}
.addclient_overall_div{
    //border: 2px solid green;
    background-color: white;
    backface-visibility: hidden;
    height: 481px;
    width: 98%;
    // margin: 10% 0 0 24%;
    border-radius: 15px;
    box-shadow: rgba(54, 54, 54, 0.37) 0px 2px 8px 2px;

    //background: white;
.add_client_overall{
    background: white;
    background-color:white;
    height: 100%;
    width: 100%;
    border-radius:15px;
   
    //overflow-y:scroll;
    overflow-x: hidden;
    
    .add_client_inner{
        background-color: white;
        //border: 1px solid blue;
        justify-content: space-between;
        margin: 20px;
        font-weight: bolder;
        background:white;
        enable-background: white;
        .add_client_head{
            border-bottom: 2px solid rgba(223, 223, 223, 0.418);
            height: 5%;
            display: flex;
            padding-bottom: 2%;
            background-color: white;
            .add_client_header{
                font-size: 18px;
                font-weight: bold;
                background-color: white;
                cursor: default;
                color:  rgb(7, 78, 170);
            }
            .add_client_close{
                //border: 1px solid red;
                margin:0.8% 0 0 80%;
                font-weight: bolder;
                font-size: 18px;
                color: red;
                background-color: white;
                cursor: pointer;
            }
            .add_client_close:hover{
                border: 1px solid red;
                background-color: red;
                color: white;
                border-radius: 5px;
            }
        }
        .add_client_inner_body{
           // border: 1px solid blue;
            margin: 3% 0 0 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: white;
            .add_div_client{
               border: 10px solid transparent;
                // height: 200px;
            }

            .add_client_content{
                background-color: white;
                //border: 1px solid green;
                padding:0 10px 0 30px;
                
              
                .add_client_text{
                    background-color: white;
                    //border: 1px solid red;
                    text-align: left;
                    font-size: 15px;
                    font-weight:600;
                    cursor: default;
                   
                }
                .add_client_field_contain{
                    background-color: white;
                   // border: 1px solid red;
                    margin-top: -6%;
                .add_client_feild{
                    border:solid 2px #2424;
                    border-radius: 20px;
                    display: inline-block;
                    height: 50px;
                    width: 300px;
                    background-color: white;
                    margin-top: 0%;
                    input[type=text],input[type=date],input[type=password],input[type=email]{
                        height:90%;
                        width: 80%;
                        border:none ;
                        margin:1% 0 0 2%;
                        outline: none;
                        padding-left: 4%;
                        background-color: white;
                        font-size: 16px; 

                    }    
                }
            }
         }
        }
        .add_client_buttons{
            background-color: white;
            //border: 1px solid greenyellow;
            margin: 6% 0 0 0;
            padding: 0 0 0 40%;
            height: 10%;
            display: flex;
            width: 100%;
            .client_cancel_btn,.client_add_btn{
                font-size: 15px;
                font-weight: 500;
                border-radius: 10px;
                width: 40%;
                height: 45px;
            }
            .client_cancel_btn{
                border: 2px solid rgb(7, 78, 170);
                background-color: white;
                //padding: 1.5% 6% 1.5% 6%;
                color: rgb(7, 78, 170);
                margin: 0 0 0 38%; 
                cursor: pointer;          
             }
        
            .client_add_btn{
                border: 2px solid white;
               // padding: 1.5% 6% 1.5% 6%;
                background-color: rgb(7, 78, 170);
                color: white;
                margin: 0 0 0 5%;
                cursor: pointer;
            }
        }
    }
    .add_client_errormsg{
        font-size: 11px;
        color: red;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1% 50% 0 0;
        background-color: white;
    }
}
.add_client_icons{
    border-color: white;
    background: white;
    margin-left: 2px; 
}
form{
    background-color: white;
    //border:1px solid blue;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(7, 78, 170);
}
::-webkit-scrollbar-button {
    height: 20px;
  }
  
}