.update_client_overall_contain{
    //border: 1px solid red;
    width: 100%;
    height: calc(100vh - 80px);
    .update_client_overall_head_contain{
        //border: 1px solid green;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 78, 170);
        border-top-left-radius: 9px;
        .update_client_back_icon{
            font-size: 28px;
            font-weight: 600;
            margin: 50% 0 0 50%;
            color: white;
        }
        .update_client_header_text{
            font-size: 20px;
            font-weight: bold;
            margin: 1.2% 2% 0 0 ;
            color: white;
            cursor: default;
        }
    }

    .update_client_inner_contain{
        //border: 2px solid blue;
        height: calc(100% - 12%);
        width: 100%;
        overflow-y: scroll;
        margin-top: 1%;
        .update_client_inner_contant{
            //border: 1px solid red;
            width: 100%;
            height: 20%;
            display: flex;
            margin: 3% 0 0 0;
            .update_client_inner_contant_contain{
                //border: 1px solid black;
                height: 100%;
                width: 40%;
                margin: 0 0 0 7%;
                .update_client_inner_contant_text{
                    font-size: 16px;
                    font-weight: bold;
                    cursor: default;
                }
                .update_client_inner_input_contain{
                    border: 1px solid #2424;
                    height: 40%;
                    display: flex;
                    border-radius: 20px;
                    margin: 4% 0 0 0;
                    .update_client_inner_icon{
                        //border: 1px solid yellow;
                        margin: 2% 2% 0 4%;
                        font-size: 25px;

                    }
                    input[type="text"],input[type="email"],input[type="password"],input[type="date"]{
                        border: none;
                        width: 80%;
                        outline: none;
                        //text-align: center;
                        font-size: 16px;
                        font-size: 600;
                        margin: 0 0 0 3%;
                    }
                    input[type="date"]{
                        cursor: pointer;
                    }
                }
            }
        }

        .update_client_btn{
            //border: 1px solid green;
            height: 10%;
            width: 90%;
            margin: -1% auto;
            .update_client_update_button{
                border: 2px solid rgb(7, 78, 170);
                float: right;
                width: 15%;
                height: 70%;
                font-size: 16px;
                font-weight: 600;
                color: rgb(7, 78, 170);
                background-color: white;
                border-radius: 10px;
                margin: 1% 0 0 0;
                cursor: pointer;
            }
            .update_client_update_button:hover{
                color: white;
                background-color: rgb(7, 78, 170);
            }
        }
    }
    ::-webkit-scrollbar{
        width: 3px;
    }
    ::-webkit-scrollbar-thumb{
        background-color:rgb(7, 78, 170) ;
        border-radius: 20px;
    }
}