*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.addmentee{
    background-color:white;
    height: 500px;
    width: 800px;
    border-radius:20px;
    margin:25px auto;
    overflow-y:scroll;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .headercontent{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        .logoalign{
            width: 50px;
            height: 50px;
        }
        p{
            margin-right:28rem;
        }
    }
    label{
        font-weight: bold; 
     }
    input[type=text],input[type=number],input[type=password],input[type=email]{
        height:50px;
        width: 300px;
        border:solid 2px #2424;
        border-radius: 20px;
        background-color: transparent;
        padding-left: 40px;
        font-size: 16px; 
    }
    .inputfeilds-postalfeild{margin: 25px 50px;}
    .feild{
        position: relative;
        margin-top: 10px;
    }
    p,input[type=radio],input[type=checkbox]{
        margin: 10px 0px 5px 30px;
        color: #0C50A3;
    }
    .accesslvl-container{
    .checkbox-label,.notify{
        font-weight: normal;
        margin-left: 10px;
    }
    .accesslvltxt{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
}
    .inputfeilds{
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }
    .left-inputfeilds i,.right-inputfeilds i{
        position: absolute;
        color: #2424;
    }
    i{
        margin: 13px 15px;
    }
    .close{
        margin-right: 25px;
        width: 20px;
        margin-top: 20px;
        // height:20px;
        color:red;
    }
    .notes{
        padding-bottom: 10px;
        padding-left:25px;
        textarea{
            width: 700px;
            height: 90px;
            font-size: 16px;
            border-radius: 20px;
            padding: 10px;
        }
    }
    .buttons{
        padding:40px;
        float: right;
        .cancel{
            width:100px;
            height: 40px;
            margin-right: 50px;
            border-radius: 10px;
            font-size: 16px;
            color:black;
            border: solid 2px #0C50A3 ;
            background-color: #fff;
            cursor: pointer;
        }
        .Addstaff{
            border:1px solid white;
            margin-top: 10px;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            font-size: 13px;
            color: white;
            background-color:#0C50A3;
            border: none;
            cursor: pointer;
        }        
    }
    .cancel:hover
    {
         width: 102px;
         height: 41px;
    }
    .Addstaff:hover
    {
         width: 102px;
         height: 41px;
    }
}