// .wholeprofile_viewcontainer{
//     border-top: 1px solid rgb(7, 78, 170);
//     width: 100%;
//     height: 80vh;
//     margin: 0 0 0 0;
//     border-top-left-radius:10px ;

//     .profileviewentorhead{
//         border: 1px solid rgb(7, 78, 170);
//         width:100%;
//         //border: solid 2px red;
//         height:40px;
//         border-top-left-radius:10px ;
//         background-color:rgb(7, 78, 170);
        
//         .profileviewmentorinnerhead{
//             border: 2px solid transparent;
//             width:95%;
//             display: flex;
//             justify-content:space-between;
//             margin: 0px auto;
//             padding: 0 10px 5px 10px;

//             .mentorprofileviewicon{
//                 margin-top:20%;
//                 font-size: 25px;
//                 font-weight: 550;
//                 color:white;
//                 cursor: pointer;
//             }

//             .profileviewmentortext{
//                 margin-top:0.5%;
//                 font-size: 20px;font-weight: 550;
//                 color: white;
//                 cursor: default;
//             }
//         }
//     }

//     .aboutprofileviewcontainer{
//         border: 1px solid transparent;
//         height: 50vh;
//         width: 100%;
//         margin-top:5%;
        

//         .aboutprofileviewinner{
//             border:1px solid transparent;
//             width: 85%;
//             margin: 2% auto;
//             height: 12vh;
//             display: flex;
//             justify-content: space-between;

//             .aboutcontent{
//                 //border:1px solid red;
                
//                 .aboutlabeltext{
//                     margin-bottom:2%;
//                     background-color: white;
//                     //border: 1px solid red;
//                     text-align: left;
//                     font-size: 15px;
//                     font-weight:600;
//                     cursor: default;
//                 }
//                 .aboutprofileinputcontainer{
//                     margin-top: -3%;
                    
//                     .profileviewfeild{
//                         border:solid 2px #2424;
//                         border-radius: 20px;
//                         display: inline-block;
//                         height: 50px;
//                         width: 450px;
//                         background-color:white;
//                         margin-top: 0%;

//                         .profileviewicons{
//                             margin: 0 0 0 15px;
//                         }
//                     }
//                 }
//             }
//         }   
//     }
// }

*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.Profileviewmentorcontainer{
  
    width: 100%;
    //border: solid 2px red;
    height: 80vh;
    margin: 0 0 0 0;
    border-top-left-radius:10px ;
    
    .toprofileviewcontainer{
       //border: solid 2px green;
        width: 90%;
        height: 190px;
        border-radius: 20px;
        margin-left:16px;
        margin-top: 15px;
        background-color: white;
        box-shadow:20px 20px 50px grey;  
        display: flex;
        .profile_viewmentor{
            //border: solid 2px black;
            width: 160px;
            height: 160px;
            border-radius: 10rem;
            margin: 10px 0 0 30px;
            .profile_alignmentor{
                //border: solid 2px red;
                width: 155px;
                height: 155px;
                border-radius: 9rem;
                background-position: center;
                background-repeat: no-repeat;
                background-image: center;
            }
        }
        .aboutprofileviewmentor{
            //border:solid 2px purple;
            width: 450px;
            height: 170px;
            margin: 10px 0 0 250px;
            display: inline;
            .aboutprofilebox1{
                //border: solid 2px blue;
                height: 50px;
                    .aboutvaluesprofile{
                       // border: solid 2px green;
                        display: inline;
                        margin-left: 65px;
                        font-size: 16px;
                    }         
            }
        }

    }
    .bottomprofileviewcontainer{
        //border: solid 2px blue;
        box-shadow:20px 20px 50px grey;
        margin-top: 50px;
        width :90%;
        height: 390px;
        background-color: white;
        margin-left:16px;
        border-radius: 20px;
        .viewtitle{
            width: 100px;
            color: royalblue;
            margin-left: 400px;
            margin-bottom: 15px;
        }
        .profiledetails{
            //border: solid 2px green;
            width: 100%;
            height: 320px;
            border-radius: 20px;
            .wholeprofileboxes{
               // border: solid 2px orange;
                height: 50px;
                // float: left;
                display: flex;
                .aboutprofilebox1{
                    //border: solid 2px navy;
                    float: left;
                    margin-right: 330px;
                    margin-left: 40px;
                    margin-top: 10px;
                    .label{
                        //border: solid 2px black;
                        width: 60px;
                    }
                    .aboutvaluesprofile{
                      // border: solid 2px green;
                        display: inline;
                        margin-left: 5px;
                        font-size: 16px;
                    }     
                }
            }
        }
    }
}
