*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.parent_container{
margin: 30px 30px;
height: 80%;
width: 90%;
position: fixed;
background-color: #fff;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 25px;
.view_header{
  height: 60px;
  display:flex;
  justify-content:space-between;
  margin-right: 145px;
  position: relative;
  align-self: center;
 .view_title{
    height: 60px;
    width:180px;
    float:left;
   h3{
      color:royalblue;
      text-align: center;
      font-size: large;
      padding-top: 18px;
    }
  }
  .add_staff{
    height: 60px;
    width: 180px;
    float: right;
   }
   .button_click{
       padding: 10px 15px;
       font-size: 16px;
       border: blue;
       border-radius: 23px;
       background-color: #0c50a3;
       color: white;
       margin: 0px auto;
       margin-top: 0.5rem;
   }
   .button_click:hover{
      background-color:#fff;
      color: #0C50A3;
      border: solid 2px #0C50A3;
      transition: 0.4s;
   }
}
table{
  //background-color: red;
  width: 87%;
  margin-left: 25px;
  margin-top: 10px;
  border-collapse: collapse;
  // word-break:break-all;
  .table_row_head,td,tr{
    padding: 6px; 
    text-align: center;
    
    //background-color: red;
    
}
.table_row:hover {
  background-color: #dbdee2;
}
.namecol,.emailcol
{  
  text-align: left; 
  padding-left:20px ;
  
 }
 .table_row_head,.table_row{box-shadow: rgba(185, 183, 183, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}
th{padding: 12px;}
 td .table_icons{
      height: 35px;
      width: 20px;
      display: inline-block;
      margin-right: 10px;
    
      .icons_align{
          font-size: 25px;
          padding-top: 5px;
          padding-left: 5px;
      }
      .icons_align_delete{
          color: red;
          font-size: 25px;
          padding-top: 5px;
          padding-left: 5px;
      }
    }
  }
}
@media only screen and (min-width:1200px) and (max-width:1500px)
{
table{
  width:80% !important;
  //background-color:red;
}
 
}
