@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.tab-container{
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;

}

.deactive{
    background-color: #fb0100;
    border-radius: 2px;
    width: fit-content;
    padding: 0 5px;
}
.active{
    border-radius: 2px;
    width: fit-content;
    background-color: #3BD513;
    padding: 0 5px;
    color: #ffff;
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "poppins", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiGrid-root {
    text-align: left;
    margin: 0px;
    font-family: "poppins", "Helvetica", "Arial", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}