

.addexam_container
{
    width: 800px;
    height: 600px;
    font-weight: 600;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    padding: 25px;
    margin: 50px;
    .error{
        color: crimson;
        font-size: 13px;
    }
   
    .addexams_title{
        display: flex;
        justify-content: space-between;
        .addexams_heading
        {
            font-weight: 600;
            color: #1F618D;
        }
        .addExamsCloseBtn
        {
         display: flex;
         justify-content: flex-end;
         background-color: transparent;
         border: none;
         font-size: 25px;
         cursor: pointer;
         color: #000;
         margin-bottom: 10px;
        }
       }
    
    .addexam_subContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        
        .subContainer-sec1{
            label{
                display: block;
                margin-left: 10px;
        }

            .exam-id{
                width: 250px;

            }
            .Course-id{
                width: 250px;

            }
            .examDesc{
                width: 250px;

            }
               
        }
        .subContainer-sec2
        {
            label{
                display: block;
                margin-left: 10px;
        }
            .examDuration
            {
               width: 250px;
            }
            .exam-startDate{

                width: 250px;
            }
            .exam-endDate{
                width: 250px;

            }
        }
        
    
        input{
            
            border: 2px solid lightslategrey;
            margin: 5px;
            padding: 10px;
            color: black;
            border-radius: 10px;
        }
        
    }
    .examstatus-input
        {
            display: flex;
            justify-content: center;
            margin: 10px;
            .label-examstatus{
                text-align: center;
                .examstatus-div{
                    margin: 5px;
                    .active, .inactive{
                        margin: 5px;
                    }
                    }
                  }
            
        }
    .addExam-btns
    {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .addExam-btn1
        {
        
                margin: 10px;
                padding: 10px 30px;
                border: 2px solid #1F618D;
                color: #FFF;
                border-radius: 10px;
                background-color: #1B4F72;
        }
        .addExam-btn2
        {
        
                margin: 10px;
                padding: 10px 30px;
                border: 2px solid #1F618D;
                color: #FFF;
                border-radius: 10px;
                background-color: #1B4F72;
        }
    }

}