@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.addcourses_container
{
    width: 760px;
    height: 450px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    
    .addcourses_title{
        display: flex;
        justify-content: space-between;
        .addcourses_heading
        {
            font-weight: 600;
            color: #1F618D;
        }
        .titleCloseBtn
        {
         display: flex;
         justify-content: flex-end;
         background-color: transparent;
         border: none;
         font-size: 25px;
         
         cursor: pointer;
         color: #000;
         margin-bottom: 20px;
         
         
        }

    }
       
    
    
    .addCourses-InputFields{
       
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        .error
        {
            color: crimson;
            font-size: 13px;
        }
        
        
        input{
            margin: 5px;
            padding: 10px;
            border: 2px solid lightslategrey;
            color: black;
            border-radius: 10px;
        }
        .addCourses-CourseDesc,.addCourses-CourseName{
            
            width: 400px;
            

        }
        .status-inputFields{
            margin-top: 20px;
            .status-inputdiv{
                margin-top: 10px;
            }
        }

        
    }
    .Courses-btns
    {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .Courses-btn1
        {
        
                margin: 10px;
                padding: 10px 30px;
                border: 2px solid #1F618D;
                color: #FFF;
                border-radius: 10px;
                background-color: #1B4F72;
        }
        .Courses-btn2
        {
        
                margin: 10px;
                padding: 10px 30px;
                border: 2px solid #1F618D;
                color: #FFF;
                border-radius: 10px;
                background-color: #1B4F72;
        }
    }
    

}
