@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.main
{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;   
    flex-direction: column;
    margin: 20px 10px 10px 45px;
    padding: 10px;
    flex-grow: 1;
    height: 500px;
    .section1
{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    .section1 div ion-icon
{
    position: relative;
    font-size: 24px;
    top: 5px;
}
}.section2
{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    select
{
    height: 30px;
}
.select1
{
    flex-basis: 450px;
    
}
.select2
{
    
    flex-basis: 450px;
}
}
table th
{
  font-size: 1rem;
  text-align: left;
  color: #2E4053;
 }
th,td{
    font-size: 16px;
    padding: 2px 25px;
    color: #2E4053;   
}
td{
    font-size: 15px;
}
.icons
 {
   font-size:17px;
 }
 i{
     padding: 5px;
        
 }
 .delete
 {
     color: rgb(202, 8, 8);
 }


}



