@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.main
{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;   
    flex-direction: column;
    margin: 20px 10px 10px 15px;
    padding: 10px;
    height: 500px;
}
.view-header
{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #2E4053;
}
.view_title{
    height: 60px;
    width: 180px;
    float: left;
    h3{
        color: royalblue;
        text-align: center;
        font-size: large;
        padding-top: 18px;
    }
 }
.add_question{
    
    display: flex;
    flex-direction: row-reverse;
   }
   .button_click{
    padding: 10px 15px;
    font-size: 16px;
    border: blue;
    border-radius: 23px;
    background-color: #0c50a3;
    color: white;
    margin-right: 30px;
    margin-top: .5rem;
}
.button_click:hover{
   background-color:#fff;
   color: #0C50A3;
   border: solid 2px #0C50A3;
   transition: 0.4s;
}
.section1 div ion-icon
{
    position: relative;
    font-size: 24px;
    top: 5px;
}
.section2
{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    
}
select
{
    height: 30px;
    color: #2E4053;
    margin: 5px;
}
.select1
{
    flex-basis: 400px;
    border: 2px solid lightslategray;
    border-radius: 10px;
    
}
.select2
{
    align-self: center;
    flex-basis: 200px;
    border: 2px solid lightslategray;
    border-radius: 10px;
}
.select3
{
    align-self: flex-start;
    flex-basis: 200px;
    border: 2px solid lightslategray;
    border-radius: 10px;
}
table th
{
  font-size: 1rem;
  text-align: left;
  color: #2E4053;
 }
th,td{
    
    padding: 2px 25px;
    color: #2E4053;    
}
td{
    font-size: 15px;
}
.icons
 {
   font-size:20px;
 }
 i{
     padding: 5px;
        
 }
 .delete
 {
     color: rgb(202, 8, 8);
 }