@import'../assets/stylesheets/common.scss';
.pro-sidebar > .pro-sidebar-inner{
    height: calc(100vh - 80px);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background-color: transparent;
}
.pro-sidebar{
    height: calc(100vh - 105px);
    color: $--primary2;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item{
    background-color: transparent;
}
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus{
    color: $--primary;
    border-left: 3px solid $--primary;
}