*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.addassociate{
    background-color:white;
    border-radius:20px;
    margin:25px auto;
    .closeIcon{
        float: right;
    }
    .closeIcon:hover{
        width: 25px;
        height: 25px;
        background-color: red;
        color: white;
    }
    .profile_view{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5rem;
            margin-left: 100px;
            margin-bottom: 20px;
        .profile_align{
            height: 150px;
            width: 150px;
            border:2px solid #0c50a3 ;
            background-position: center;
            background-repeat: no-repeat;
            background-image: center;
            border-radius: 5rem;
            object-fit: cover;
        }
    }
    .Tabitems{
        display: flex;
        margin: 5px 20px;
       .Certificatetab,  .Experiencetab,  .Educationtab , .profiletab{
            background-color: #0c50a3;
            color: #ffffff;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 10px;
            transition: 0.3s;
            font-size: 18px;  
            width: 500px; 
            margin: 2px;
            border-radius: 5px;
        }
    }
    .Experiencetab:hover,.Certificatetab:hover,.Educationtab:hover,.profiletab:hover
    {
        color:#0c50a3;
        background-color:white;
        border: 2px solid #0c50a3;
        width: 600px; 
    }
    .toptxtfeild{
        outline: none ;
        background-color: transparent ;
        resize: none;
        border: none ;
    }
    .textfeild-container{
        text-align: left;
        i{
            margin: 13px 15px;
        }
        input[type=text],input[type=date],input[type=number],input[type=password],input[type=email]{
            height:50px;
            width: 300px;
            border:solid 2px #2424;
            border-radius: 20px;
            padding-left: 40px;
            font-size: 16px; 
            margin-bottom: 20px;
        }
        .feild{
            position: relative;
            margin-top: 10px;
        }
        .inputfeilds{
            display: flex;
            justify-content: space-around;
            margin: 10px;
        }
        .left-inputfeilds i,.right-inputfeilds i{
            position: absolute;
        }
        .certifyuploadfeildleft, .certifyuploadfeildright,.Avatarfeild{
           margin-left: 110px;
           input[type=file]{
              display: none;
           }
           .imageupload{
            height:50px;
            border:solid 2px #2424;
            border-radius: 20px;
            padding: 10px;
            color: rgb(141, 137, 137);
           }
           .imagefeild{
            position: relative;
            margin-top: 20px;
           }
        }
        .radioinputfeilds, .certifyupoadinputfeilds{
          display: flex;
          justify-content: space-between;
        }
        .certifyuploadfeildright{margin-right: 220px;}
        .genderradiobutton,.checkboxselective{
            margin: 25px 0px;
            display: flex;
            justify-content: space-between;
        }
        .genderradiobutton{margin-left: 110px;}
        .checkboxselective{margin-right: 190px;}
        .radiobtn-txt,.genderlbl{ margin-right: 30px;}
        label{
            font-size: 17px;
        } 
        .btn1{
            margin: 30px 30px;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        .addeducation,.backicon,.nexticon,.cancelicon{
            margin-top: 10px;
            float: right;
            font-size: 16px;
            color: #ffffff;
            background-color: #0c50a3;
            border-radius: 20px;
            width: 80px;
            height: 35px;
            border: none;

        }
        .removeeducation{ color: #ffffff;
            background-color: #0c50a3;
            border-radius: 20px;
            width: 80px;
            height: 35px;
            border: none;
            margin-left: 50px;
        }
         .addeducation{margin: 20px 80px 20px 0px;}
        .cancelicon{margin-right:20px;
            float: none;}
        .Addprofile:hover,.backicon:hover,.nexticon:hover,.cancelicon:hover{height: 40px;
            width: 90px;
            color:#0c50a3;
            background-color:white;
            border: 2px solid #0c50a3;
            }
        .Addprofile{
            width: 100px;
            height: 35px;
            border-radius: 20px;
            font-size: 16px;
            color: white;
            background-color: #0c50a3;
        }       
    }
}