*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Updateassociate{
    background-color:white;
    border-radius:20px;
    margin:25px auto;
    .closeIcon{
        float: right;
    }
    .closeIcon:hover{
        width: 25px;
        height: 25px;
        background-color: red;
        color: white;
    }
    .update_profile_view{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5rem;
            margin-left: 100px;
            margin-bottom: 20px;
        .profile_align{
            height: 150px;
            width: 150px;
            border:2px solid #0c50a3 ;
            background-position: center;
            background-repeat: no-repeat;
            background-image: center;
            border-radius: 5rem;
            object-fit: cover;
        }
    }
    .update_Tabitems{
        display: flex;
        margin: 5px 20px;
       .Certificatetab,  .Experiencetab,  .Educationtab , .profiletab{
            background-color: #0c50a3;
            color: #ffffff;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 10px;
            transition: 0.3s;
            font-size: 18px;  
            width: 500px; 
            margin: 2px;
            border-radius: 5px;
        }
    }
    .Experiencetabbg,.Certificatetabbg,.Educationtabbg,.profiletabbg
    {
        color:#0c50a3;
        background-color:white;
        border: 2px solid #0c50a3;
        width: 600px; 
    }
    .toptxtfeild{
        outline: none ;
        background-color: transparent ;
        resize: none;
        border: none ;
    }
    .associateprofile-textfeild-container{
        text-align: left;
       .associateprofile-icons{
            margin: 13px 15px;
        }
        input[type=text],input[type=date],input[type=number],input[type=password],input[type=email]{
            height:50px;
            width: 300px;
            border:solid 2px #2424;
            border-radius: 20px;
            padding-left: 40px;
            font-size: 16px; 
            margin-bottom: 20px;
        }
        .associateprofile-feild{
            position: relative;
            margin-top: 10px;
        }
        .associateprofile-inputfeilds{
            display: flex;
            justify-content: space-around;
            margin: 10px;
        }
        .associateprofile-left-inputfeilds .associateprofile-icons,
        .associateprofile-right-inputfeilds .associateprofile-icons{
            position: absolute;
        }
        .associateprofile-left-inputfeilds-certifyuploadfeildleft, .associateprofile-right-inputfeilds-certifyuploadfeildright,
        .associateprofile-left-inputfeilds-Avatarfeild{
           margin-right: 140px;
           input[type=file]{
              display: none;
           }
           .imageupload{
            height:50px;
            border:solid 2px #2424;
            border-radius: 20px;
            padding: 10px;
            color: rgb(141, 137, 137);
           }
           .imagefeild{
            position: relative;
            margin-top: 20px;
           }
        }
         .certifyupoadinputfeilds{
         display: flex;
         justify-content: space-between;
        }
        .certifyuploadfeildright{margin-right: 220px;}
        .associateprofile-right-inputfeilds-genderradiobutton,.associateprofile-left-inputfeilds-checkboxselective{
            margin: 25px 0px;
            display: flex;
        }
        .radiomalebtn{margin-left: 70px;}
        .checkfresherbtn{margin-left: 40px;}
        .checkbtn-txt, .radiobtn-txt{ margin-right: 30px;}
        .associateprofile-inputfeilds-checkbox{
            margin-top: 50px;
            margin-left: 105px;
        }
        label{
            font-size: 17px;
        } 
        .buttonsection{
            margin: 30px 30px;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
       .addcertificate,.addeducation,.backicon,.nexticon,.cancelicon{
            margin-top: 10px;
            float: right;
            font-size: 16px;
            color: #ffffff;
            background-color: #0c50a3;
            border-radius: 20px;
            width: 80px;
            height: 35px;
            border: none;
        }
        .removeeducation,.removecertificate{ color: #ffffff;
            background-color: #0c50a3;
            border-radius: 20px;
            width: 80px;
            height: 35px;
            border: none;
            margin-left: 50px;
            margin-top: 20px;
        }
        .Hscpart,.Sslcpart{
        border:2px solid rgb(240, 240, 243);
        border-radius: 15px;
        margin: 25px 5px;
        }
        .addcertificate,.addeducation{margin: 20px 80px 20px 0px;}
        .cancelicon{margin-right:20px;
            float: none;}
        .Updateprofile:hover,.backicon:hover,.nexticon:hover,.cancelicon:hover{height: 40px;
            width: 90px;
            color:#0c50a3;
            background-color:white;
            border: 2px solid #0c50a3;
            }
        .Updateprofile{
            width: 100px;
            height: 35px;
            border-radius: 20px;
            font-size: 16px;
            color: white;
            background-color: #0c50a3;
        }       
    }
}

