*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.associateprofile_container{
    margin: 30px 30px;
    height: 80%;
    width: 90%;
    position: fixed; 
    border-radius: 18px;   
    background-color: #fff;
   .associate_header{
    height:60px;
    width: 93%;
    position: relative;
    align-items: center;
    .associate_title{
        height: 60px;
        width: 23%;     
        float: left;
        h3{
            color: royalblue;
            text-align: center;
            font-size: large;
            padding-top: 18px;
        }
     }
     
     .add_profile{    
      height: 60px;
      width: 180px;
      float: right;
     }
     .associate_button_click{
         padding: 10px 15px;
         font-size: 16px;
         border: blue;
         border-radius: 23px;
         background-color: white ;
         border: solid 2px #0C50A3;
         color:  #0c50a3;
         margin-right: 30px;
         margin-top: .5rem;
     }
     .associate_button_click:hover{
        background-color: #0C50A3;
        color:  #fff;
        transition: 0.4s;
     }
    }
}
.associate_table_container{
    width: 99%;
   .associate_table{
       width: 90%;
       margin-left: 30px;
       margin-top: 10px;
       border-collapse: collapse;
       .associate_table_row_head{
        background-color:rgb(7, 78, 170) ;
        border: 3px solid rgb(7, 78, 170);
        //color: white;
      }
      .associate_table_row_head,.associate_table_row{
           box-shadow: rgba(185, 183, 183, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
           }
           td,tr{
                   padding: 6px; 
                   text-align: center;
                }
            th{padding: 15px;color: white;}
            .associate_namecol,.associate_emailcol {  
                text-align: left; 
                padding-left:20px;
            }
            td .associate_table_icons{
                height: 35px;
                width: 13%;
                display: inline-block;
                margin-right: 10px;        
            .associate_icons_align{
                font-size: 25px;
                padding-top: 5px;
                padding-left: 5px;
            }
            .associate_icons_align_delete{
                color: red;
                font-size: 25px;
                padding-top: 5px;
                padding-left: 5px;
            }
        }       
     .associate_table_row:hover {
        background-color: #e6ebfc;
        border-left: 2px solid rgb(7, 78, 170);
        //border-bottom: 0.5px solid rgb(7, 78, 170);
        border-right: 2.5px solid rgb(7, 78, 170);
      }     
   }
}
.Associativenav{
   height: 45px;  
   overflow-y: hidden;
   
    .Associatepagination{
      display: flex;
      justify-content: center; 
      margin: 20px 150px 0 0; 
      li{
        list-style-type: none;
        padding: 0 10px 0 10px;
        cursor: pointer;
      }      
      .associatepage-link{
        text-align: center;
        margin-top: 30%;
      }  
      .associatepage-item.active{
        background-color:rgb(7, 78, 170);
        color: white;
        border-radius: 5px;
      }      
    }  
  } 

@media only screen and (max-width : 1570px) {
    .associate_table{
        width: 84% !important; 
    }
    .associate_header{
        width: 88% !important;
    }
}
@media only screen and (max-width : 1285px) {
        .associate_table{
            width: 79% !important; 
        }
        .associate_header{
            width: 86% !important;
        }
}
