*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.associateprofile_container{
    margin: 30px 30px;
    height: 80%;
    width: 90%;
    position: fixed; 
    border-radius: 18px;   
    background-color: #fff;
   .associate_header{
    height:60px;
    width: 83%;
    position: relative;
    align-items: center;
    .associate_title{
        height: 60px;
        width: 23%;
     
        float: left;
        h3{
            color: royalblue;
            text-align: center;
            font-size: large;
            padding-top: 18px;
        }
     }
     .add_profile{    
      height: 60px;
      width: 180px;
      float: right;
     }
     .associate_button_click{
         padding: 10px 15px;
         font-size: 16px;
         border: blue;
         border-radius: 23px;
         background-color: #0c50a3;
         color: white;
         margin-right: 30px;
         margin-top: .5rem;
     }
     .associate_button_click:hover{
        background-color:#fff;
        color: #0C50A3;
        border: solid 2px #0C50A3;
        transition: 0.4s;
     }
    }
}
.associate_table{
    width: 78%;
    margin-left: 30px;
    margin-top: 10px;
    border-collapse: collapse;
  td,tr{
      padding: 6px; 
      text-align: center;
  }
  .associate_table_row:hover {
    background-color: #f1f4ff;
  }
  .associate_namecol,.associate_emailcol
  {  
    text-align: left; 
    padding-left:20px;
   }
  .associate_table_row_head,.associate_table_row{box-shadow: rgba(185, 183, 183, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}
  th{padding: 1%;}
   td .associate_table_icons{
        height: 35px;
        width: 13%;
        display: inline-block;
        margin-right: 10px;
        
        .associate_icons_align{
            font-size: 25px;
            padding-top: 5px;
            padding-left: 5px;
        }
        .associate_icons_align_delete{
            color: red;
            font-size: 25px;
            padding-top: 5px;
            padding-left: 5px;
        }
    }
}
@media only screen and (max-width : 1420px) {
    .associate_table{
        width: 75% !important; 
    }
}
@media only screen and (max-width : 1255px) {
        .associate_table{
            width: 73% !important; 
        }
        .associate_header{
            width: 82% !important;
        }
    }
