*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.addproject_mapping_overall_conatiner{
    max-height: 100%;
    width: 100%;
    //border: solid 2px red;
    .addproject_mapping_inner_container{
        height: calc(100vh - 80px);
        width: 100%;
      // border: solid 2px green;
        .addproject_mapping_topheader{
            height: 10%;
            width: 100%;
            border: solid 2px rgb(7, 78, 170);
            background-color: rgb(7, 78, 170);
            border-top-left-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .top_icon{
                
               // border: solid 2px red;
                margin: 0.5% 0 0 1%;
                text-align: center;
                .arrow_icon{
                    font-size: 30px;
                    font-weight: 600;
                    color: white;
                }
            }
            .mapping_top_header{
                height: 40px;
                width: 20%;
              //  border: solid 2px black;
                margin: 0.5% 0 0 0;
                h4{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    text-transform: capitalize;
                }
            }           
        }
        .addproject_mapping_formbody{
            height: 450px;
            width: 98%;
            //border: solid 2px yellowgreen;
            margin: 5% auto;
            .addproject_mapping_form_row{
                height: 110px;
                width: 100%;
               //border: solid 2px blue;
               justify-content: space-between;
               margin: 2% 0 0 0;
                display: flex;
                .label{
                    font-size: 16px;
                    color: #242424;
                    font-weight: bold;
                }
                .addproject_mapping_col1{
                    height: 100%;
                    width: 40%;
               // border: solid 2px red;
                margin: 0% 0 0 0;
                    .addproject_mapping_input_container{
                        height: 50px;
                        width: 100%;
                        margin: 2% 0  0 0;
                        border: solid 1px #2424;
                        border-radius: 20px;
                        display: flex;
                        .usericons{
                            font-size: 20px;
                            margin: 3% 0 0 3%;
                        }
                        .input_name_textboxes{
                            border: none;
                            height: 80%;
                            width: 80%;
                            margin: 1% 0 0 4%;
                            font-size: 16px;
                            outline: none;
                        }
                        .input_date_textboxes{
                            border: none;
                            height: 80%;
                            width: 80%;
                            margin: 1% 0 0 10%;
                            font-size: 16px;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
                .addproject_mapping_col2{
                    height: 100%;
                    width: 40%;
                   //border: solid 2px red;
                   //margin: 0 0 0 8%;
                    .addproject_mapping_input_container{
                        height: 50px;
                        width: 100%;
                        margin: 2% 0  0 0;
                        border: solid 1px #2424;
                        border-radius: 20px;
                        display: flex;
                        .usericons{
                            font-size: 20px;
                            margin: 4% 0 0 3%;
                           // color: #2424;
                        }
                        .input_name_textboxes{
                            border: none;
                            height: 80%;
                            width: 80%;
                            margin: 1% 0 0 4%;
                            font-size: 16px;
                            outline: none;
                        }
                        .input_date_textboxes{
                            border: none;
                            height: 80%;
                            width: 80%;
                            margin: 1% 0 0 10%;
                            font-size: 16px;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
                .addproject_mapping_radio_container{
                    height: 50px;
                    width: 70%;
                    margin: 1% 0  0 0;
                  //  border: solid 2px #242424;
                    .rbtn1,.rbtn2{
                        margin: 5% 3% 0 4%;
                        cursor: pointer;
                    }
                }
            }
            .addproject_mapping_submittingpart{
                height: 15%;
                width: 100%;
               // border: solid 2px green;
                margin: 3% 0 0 0;
               // margin-right: 15%;
               .project_mapping_btn_inner{
                  // border: 1px solid red;
                   height: 80%;
                   width: 30%;
                   float: right;
                   display: flex;
                   justify-content: space-between;
                   .addbtn{
                       height: 80%;
                       width: 40%;
                       border-radius: 10px;
                       color: white;
                       background-color: rgb(7, 78, 170);
                       border: 1px solid rgb(7, 78, 170);
                       font-size: 16px;
                       font-weight: bold;
                       cursor: pointer;
                       //margin: 0 0 0 80%;
                   }
                   .cnclebtn{
                    height: 80%;
                    width: 40%;
                    border-radius: 10px;
                    border: 2px solid rgb(7, 78, 170);
                    color: rgb(7, 78, 170);
                    font-size: 16px;
                    font-weight: bold;
                    background-color: white;
                    cursor: pointer;
                   }

               }
               
               
                }
            }
        }
    }
