   *{
     padding: 0px;
     margin: 0px;
     background-color:transparent;
    }
 .container{
     background-color:rgb(253, 251, 251);
     border: 1px solid black;
     margin: 70px 0px 0px 350px;
     width: 820px;
     height: 650px;
     overflow-y: scroll;

     .inner_container{
        // display: flex;
         border: 1px solid red;
         height: 768px;
         width: 800px;
         //margin: 15px 100px 0px 175px;
         h1{
             margin: 20px 0px 0px 0px;
             text-align: center;
             color: rgba(5, 5, 73, 0.89);
         }
         .box1{
             margin: 30px 0px 0px 50px;
             display: flex;
             border: 1px solid darkgreen;
             width:700px;
             height:70px ;
         .name{
             border:1px solid black;
             display:inline-block;
             margin:0px 30px 0px 30px;
             float:left;
             p1{
                 margin: 0px 0px 0px 35px;
                 color: rgba(7, 7, 107, 0.822);
                 font-weight: 600;
             }
             .ph1{
                 border-radius: 20px;
                 padding:5px 10px 5px 10px;
                 border: 1px solid #2424; 
                 margin:0px 5px 0px 0px ;
                 .us{
                     background:transparent;
                     border:none;
                     outline:none;
                     padding: 0px 80px 0px 0px;
                     margin: 0px 0px 0px 15px ;
                    }
                    
                }
                            }
            .email{
                border:1px solid black;
                display:inline-block;
                //margin:50px 60px 10px 100px;
                float:right;
                .ph2{
                    border-radius: 20px;
                 padding:5px 10px 5px 10px;
                 border: 1px solid #2424; 
                 margin:0px 5px 0px 0px ;
                    .em{
                        background:transparent;
                     border:none;
                     outline:none;
                     padding: 0px 80px 0px 0px;
                     margin: 0px 0px 0px 15px ;
                       }
                   }
            }
        }
        }

    }