.admin_layout{
    box-sizing: border-box;
}
.main_body{
    display: flex;
    width: 100%;
    background-color: #fff;
    .left{
        width: auto;
    }
    .right{
        width: 100%;
        border: solid 2px rgba(145, 144, 144, 0.397);
        border-top-left-radius: 10px;
        height: calc(100vh - 70px);
        
    }
}