.truefalse
{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    .true_txt-box1
    {
     margin: 2px;
     width: 80%;
     .true_questions
     {
        margin: 5px 10px;
        text-align: left;
        font-size: 16px;
        color: #aaa;
     }
              textarea
              {
                    padding: 20px;
                    border: 1px solid lightslategrey;
                    border-radius: 8px;
                    width: 100%;
                    margin: 2px;
                    padding: 30px;
                    border: 1px solid lightslategrey;
                    border-radius: 8px;
                    width: 98%;

               }
    }
    .true_txt-box2
    {
    margin: 2px;
    width: 40%;
    .true_answers
      {
         margin: 5px 5px 20px 5px;
         text-align: left;
         margin: 5px 5px 5px 5px;
         font-size: 16px;
         text-align: center;
         font-family: 'Poppins', sans-serif;
         color: #aaa;
      }
      .input-radio
      {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
      }
      .true-addbutton
      {
        display: flex;
        justify-content: center;
      .true_addbutton
      {
        
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: 10px;
        border-color: #2874A6;
        color: rgb(17, 26, 37);
       
      }
     }
    }

}






 


