*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.viewmentor_container{
    height: 50%;
    width: 99.9%;
    position: fixed;

   .view_header{
    height:60px;
    width: 70%;
 
    position: relative;
    align-items: center;
    .view_title{
        height: 60px;
        width: 180px;
        float: left;
        h3{
            color: royalblue;
            text-align: center;
            font-size: large;
            padding-top: 18px;
        }
     }
     .add_staff{
    
      height: 60px;
      width: 180px;
      float: right;
     }
     .button_click{
         padding: 10px 15px;
         font-size: 16px;
         border: blue;
         border-radius: 23px;
         background-color: #0c50a3;
         color: white;
         margin: 0px auto;
         margin-top: 0.5rem;
     }
     .button_click:hover{
        background-color:#fff;
        color: #0C50A3;
        border: solid 2px #0C50A3;
        transition: 0.4s;
     }
    }
}
.table_container{
    margin: 0 auto;
    height: 400px;
    width: 80%;
    border: 15px;
    background-color: transparent;
    table{
        margin-left: 4px;
        margin-top:5px;
        position: fixed;
    }
    tr th{
        padding: 23px;
        align-items: center;
    }
    
    
    
}