.project_container{
  height: 400px;
  width: 100%;
  border: solid 1px transparent;
  border-radius: 15px;
  background-color: white;
  box-shadow: white 0px 2px 8px 0px;

  .close_icon{
      //border: solid 1px black;
      float: right;
      font-size: 20px;
      margin: 1% 3% 0 0;
      color: #ff0000;
  }
  .close_icon:hover{
      background-color: red;
      color: white;
  }
  .project_profile_table_container{
      height: 300px;
      width: 100%;
      border-collapse: collapse;
      background-color: white;
      margin: 5% auto;

      .project_profile_row{
          border: solid 1px #242424;
          .project_row_data{
              padding: 5px 0 5px 0px;
              font-size: 16px;
          }
      }
      .project_profile_body_row{
          border-bottom: solid 1px #2424;
          .project_profile_body_row_data{
              text-align: left;
              padding: 5px 0 3px 3px;
          }
          .project_profile_body_row_data:hover{
              background-color: rgba(172, 172, 172, 0.178);
              border-left: 2px solid rgb(7, 78, 170);
              border-right: 2px solid rgb(7, 78, 170);            }
      }
  }
}
