@import '../../assets/stylesheets/common.scss';
.addprof_overall_div{
    //border: 1px solid green;
    background-color: white;
    backface-visibility: hidden;
    height: 481px;
    width: 98%;
    // margin: -37% 0 0 17%;
    border-radius:20px;
    box-shadow: rgba(44, 44, 44, 0.452) 0px 2px 8px 2px;

    //background: white;
.add_project_overall{
    background: white;
    background-color:white;
    height: 100%;
    width: 100%;
    border-radius:20px;
    //border: 1px solid red;
   
    //overflow-y:scroll;
    overflow-x: hidden;
    
    .add_project_inner{
        background-color: white;
        //border: 1px solid blue;
        //justify-content: space-even;
        margin: 20px;
        font-weight: bolder;
        background:white;
        enable-background: white;
        .add_project_head{
            border-bottom: 2px solid rgba(223, 223, 223, 0.418);
            height: 5%;
            display: flex;
            padding-bottom: 2%;
            background-color: white;
            color: rgb(7, 78, 170);
            .add_project_header{
                font-size: 18px;
                font-weight: bold;
                background-color: white;
                cursor: default;
            }
            .close{
                //border: 1px solid red;
                margin:0.8% 0 0 80%;
                font-weight: bolder;
                font-size: 18px;
                color: red;
                background-color: white;
                cursor: pointer;
            }
            .close:hover{
                border: 1px solid red;
                background-color: red;
                color: white;
                border-radius: 5px;
            }
        }
        .add_project_inner_body{
           // border: 1px solid blue;
            margin: 3% 0 0 0%;
            display: flex;
            width:100%;
            justify-content: space-around;
            background-color: white;

            .add_project_content{
                background-color: white;
                //border: 1px solid green;
                padding:0 48px 0 48px;
                .add_project_text{
                    margin-bottom:2% ;
                    background-color: white;
                    //border: 1px solid red;
                    text-align: left;
                    font-size: 15px;
                    font-weight:600;
                    cursor:default;
                    
                   
                }
                .add_project_field_contain{
                    background-color: white;
                    //border: 1px solid red;
                    margin-top: -6%;
                .add_project_feild{
                    border:solid 2px #2424;
                    border-radius: 20px;
                    display: inline-block;
                    height: 50px;
                    width: 300px;
                    background-color:white;
                    margin-top: 0%;
                    input[type=text],input[type=date],input[type=password],input[type=email],input[type=name]{
                        height:90%;
                        width: 80%;
                        border:none ;
                        margin:1% 0 0 2%;
                        outline: none;
                        padding-left: 4%;
                        background-color: transparent;
                        font-size: 16px; 
                        border-radius: 10px;
                    } 
                    input[type=date]{
                        cursor: pointer;
                    }   
                }
            }
         }
                  .proj_add_status_contain{
                      //border: 1px solid red;
                      padding:0 127px 0  127px;

                      .add_project_status_text{
                          //border: 1px solid yellow;
                          margin: 6% 0 0 0;
                      }

                      .add_project_status_radio_btn{
                          display: flex;
                          margin: 11% 0 0 0 ;
                          //border: 1px solid green;
                          justify-content: space-evenly;

                          input[type=radio]{
                              margin: 4% 0 0 8%;
                              cursor: pointer;
                      }
                  }
        }

        .proj_add_bill_contain{
            //border: 1px solid red;
            width: 50%;
            //padding: 0 0 0 100px;
            margin: 3% 50% 0 0;

            .add_project_bill_text{
                border: 1px solid transparent;
                margin: 0 0 0 2%;
            }

            .add_project_bill_radio_btn{
                //border: 1px solid green;
                display: flex;
                margin: 5% 10% 0 0;
                //justify-content: space-around;

                input[type=radio]{
                    margin: 2% 0 0 3%;
                    cursor: pointer;
            }
            }
        }
        
    }
        .add_project_buttons{
            background-color:white;
            //border: 1px solid greenyellow;
            margin: 5% 0 0 10%;
            //padding: 0 0 0 40%;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: right;
            .cncl_bttn{
                //border: 1px solid red;
               // margin: 0 30px 0 371px;
                width: 130px;
            }
            .add_bttn{
                 //border: 1px solid red;
                 margin: 0 10px 0 10px;
                 width: 130px;
             }
            .cancel_btn,.add_btn{
                font-size: 15px;
                font-weight: 500;
                border-radius: 10px;

            }
            .cancel_btn{
                border: 2px solid rgb(7, 78, 170);
                background-color: white;
                width: 100%;
                //padding: 7px 40px 7px 40px;
                color: rgb(7, 78, 170);
                height: 90%;
                cursor: pointer;
                //margin: 0 0 0 38%;           
             }
        
            .add_btn{
                //justify-content: right;
                border: 2px solid white;
               // padding: 7px 40px 7px 40px;
                background-color: rgb(7, 78, 170);
                color: white;
                width: 100%;
                height: 90%;
                cursor: pointer;
                //margin: 0 0 0 5%;
            }
        }
    }
    .errormsg{
        font-size: 11px;
        color: red;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1% 50% 0 0;
        background-color: white;
        cursor: default;
        //border: 1px solid pink;
        width: 100%;
    }
}
i{
    background-color: none;
}
.icons{
    margin: 0 0 0 3%;
    border-color: none;
    background: none;
}

::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:rgb(7, 78, 170);
}
::-webkit-scrollbar-button {
    height: 30px;
  }
}