@import '../../assets/stylesheets/common.scss';
.project_profile_overall_contain{
  //border: 1px solid red;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  
  .project_profile_top{
    border: 1px solid rgb(7, 78, 170);
    width: 100%;
    height: 60px;
    border-top-left-radius: 7px;
    background-color: rgb(7, 78, 170);
    // margin: 2.5% auto;
    display: flex;
    justify-content: space-between;

    .project_profile_headind_text{
      font-size: 18px;
      font-weight: 700;
      margin: 1.3% 0 0 2%;
      //display:flex;
      color: white;
      cursor: default;
     // border: 1px solid red;
    }

    .project_profile_headind_search_contain{
      //border: 2px solid #2424;
      height: 35px;
      width: 35%;
      display: flex;
      border-radius: 20px;
      margin: 1% 2.5% 0 0;
      background-color: white;
      .project_profile_headind_search{
        height: 100%;
        outline: none;
        width: 85%;
        margin: 0 0 0 3.5%;
        border: none;
        text-align: center;
        font-size: 16px;
      }
      .project_profile_headind_search_icon{
       // border: 1px solid red;
        font-size: 20px;
        margin: 2% 0 0 2.5%;
        color: rgba(15, 15, 15, 0.527);
      }
    }
    
    .add_proj_btn{
      //padding: 0.5% 2.5% 0.5% 2.5% ;
      border: 2px solid rgb(7, 78, 170);
      border-radius: 10px;
      background-color: white;
      color: rgb(7, 78, 170);
      font-size: 13px;
      font-weight: 600;
      width: 150px;
      height: 40px;
      margin: 5.5% 0% 0 -10%;
      cursor: pointer;
    }

  }

  .project_profile_table_container{
    //border: 1px solid green;
    width: 97%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 3% auto;
    box-shadow: white 0px 2px 8px 0px;
   
    .project_profile_table{
     // border: 1px solid red;
      border-collapse: collapse;
      text-align: center;
      width: 95%;
      margin:0 auto ;

      .project_profile_table_head{
      // border:3px solid green;

        th{
          color: white;
          font-size: 15px;
          padding:2% 0% 2% 1.5%;
          text-align: left;
          background-color:rgb(7, 78, 170) ;
          cursor:default;
          //border: 1px solid red;
        }

      }
      
      .project_profile_table_body{
       border-bottom: 1px solid #2424;
       border-right: 1px solid #2424;
       border-left: 1px solid #2424;
       cursor: default;

        td{
          //border: 1px solid violet;
         padding:1.5% 0% 1% 1.5%;
         text-align: left;
         color: #242424;
        .proj_table_status{
          margin: 2% 10% 0 0%;
          font-size: 12px;
        }
        }
       

        .proj_table_icons{
          display: flex;
          //border: 1px solid red;
          margin:10% 0 0 10% ;
         
        }
      

        .prof_edit_icon{
          margin: 0 0% 0 60%;
          color: blue;
          font-size: 18px;
          cursor: pointer;
        }

        .prof_tash_icon,.prof_eye_icon{
         margin: 0 6% 0 7%;
        }

        .prof_tash_icon{
          color: red;
          font-size: 14px;
          cursor: pointer;
          margin: 0 0% 0 30%;
        }

      }

    }

    .project_profile_table_body:hover{
      background-color: rgba(172, 172, 172, 0.178);
      border-left: 2.5px solid rgb(7, 78, 170);
      border-right: 2.5px solid rgb(7, 78, 170);
    }

  }

}



.proj_profile_view_pagination_overall{
  //border: 1px solid red;
 height: 38px;
 width: calc(100vh - 62vh);
 display: inline-block;
 overflow-x:scroll;
 //overflow-y: hidden;
 margin: 1% 0 0 43%;


  .proj_profile_view_pagination_inner_contain{
   // border: 1px solid blue;
    display: flex;
    //height: 100%;
    //justify-content: center;
    //margin-left: 10%;
    width: 100%;
    height: 90%;
    margin: 0 0 0 0%;

    .page-item{
      //border: 1px solid green;
      list-style-type: none;
      margin: 0% 0 0 5px;
      padding: 0 10px 0 10px;
      cursor: pointer;
    }
    
    .page-link{
      //border: 1px solid green;
      text-align: center;
      margin-top: 70%;
      font-weight: 600;
      //width: 20%;
    }

    .page-item.active{
      background-color:rgb(7, 78, 170);
      color: white;
      border-radius: 3px;
    }
    
  }



 

}



