@import '../../assets/stylesheets/common.scss';

    .add_project_overall{
    height: calc(100vh - 90px);
    width: 100%;
    //border: 1px solid red;
    overflow-x: hidden;
    
        .add_project_head{
            border-top-left-radius: 8px;
            border: 2px solid rgb(7, 78, 170);
            height: 8%;
            width: 100%;
            color:white;
            background-color:rgb(7, 78, 170) ;
            display: flex;
            justify-content: space-between;
            .add_project_header_back_icon{
                font-size: 30px;
                margin: 20% 0 0 50%;
                cursor: pointer;
                color: white;
             }
            .add_project_header{
                font-size: 18px;
                font-weight: bold;
                margin: 0.6% 3% 0 0;
                cursor: default;
            }
            
        }
        .add_project_inner_body{
            margin: 3% 0 0 0%;
            display: flex;
            width:100%;
            justify-content: space-between;
            //border: 1px solid blue;

            .add_project_content{
               //border: 1px solid green;
                width: 40%;
                margin: 0 0 0 5%;
                .add_project_text{
                    margin-bottom:2% ;
                    //border: 1px solid red;
                    text-align: left;
                    font-size: 15px;
                    font-weight:600;
                    cursor:default;
                    
                   
                }
                .add_project_field_contain{
                    //border: 1px solid red;
                    margin-top: -6%;
                .add_project_feild{
                    border:solid 2px #2424;
                    border-radius: 20px;
                    display: inline-block;
                    height: 50px;
                    width: 90%;
                    background-color:white;
                    margin-top: 0%;
                    input[type=text],input[type=date],input[type=password],input[type=email],input[type=name]{
                        height:90%;
                        width: 80%;
                        border:none ;
                        margin:1% 0 0 2%;
                        outline: none;
                        padding-left: 4%;
                        background-color: transparent;
                        font-size: 16px; 
                        border-radius: 10px;
                    } 
                    input[type=date]{
                        cursor: pointer;
                    }   
                }
            }
         }
                  .proj_add_status_contain{
                      //border: 1px solid red;
                      width: 40%;
                      height: 100%;

                      .add_project_status_text{
                          //border: 1px solid yellow;
                          width: 150px;
                          font-size: 15px;
                          font-weight:600;
                        
                      }

                      .add_project_status_radio_btn{
                          display: flex;
                          //border: 1px solid green;
                          justify-content: space-evenly;
                          width: 200px;
                          margin: 3% 0 0 0;

                          input[type=radio]{
                              margin: 4% 0 0 8%;
                              cursor: pointer;
                      }
                      .add_project_radio_text{
                          font-size: 16px;
                          font-weight: 400;
                      }
                  }
        }

        .proj_add_bill_contain{
            //border: 1px solid red;
            width: 40%;
            margin: 0 0 0 5%;

            .add_project_bill_text{
                //border: 1px solid green;
                font-size: 15px;
                font-weight:600;
            }

            .add_project_bill_radio_btn{
                //border: 1px solid green;
                display: flex;
                justify-content: space-evenly;
                width: 245px;
                margin: 3% 0 0 0;

                input[type=radio]{
                    margin: 3% 0 0 0;
                    cursor: pointer;
                }
            }
            .add_project_radio_text{
                font-size: 16px;
                font-weight: 400;
            }   
        }
        
    }
        .add_project_buttons{
            background-color:white;
            //border: 1px solid greenyellow;
            margin: 2% 0 0 0%;
            //padding: 0 0 0 40%;
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: right;
            .cncl_bttn{
                //border: 1px solid red;
               // margin: 0 30px 0 371px;
                width: 150px;
            }
            .add_bttn{
                 //border: 1px solid red;
                 margin: 0 50px 0 40px;
                 width: 150px;
             }
            .cancel_btn,.add_btn{
                font-size: 15px;
                font-weight: 500;
                border-radius: 10px;

            }
            .cancel_btn{
                border: 2px solid rgb(7, 78, 170);
                background-color: white;
                width: 100%;
                //padding: 7px 40px 7px 40px;
                color: rgb(7, 78, 170);
                height: 90%;
                cursor: pointer;
                //margin: 0 0 0 38%;           
             }
        
            .add_btn{
                //justify-content: right;
                border: 2px solid white;
               // padding: 7px 40px 7px 40px;
                background-color: rgb(7, 78, 170);
                color: white;
                width: 100%;
                height: 90%;
                cursor: pointer;
                //margin: 0 0 0 5%;
            }
        }
    .errormsg{
        font-size: 11px;
        color: red;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1% 50% 0 0;
        background-color: white;
        cursor: default;
        //border: 1px solid pink;
        width: 100%;
    }

i{
    background-color: none;
}
.icons{
    margin: 0 0 0 3%;
    border-color: none;
    background: none;
}
}

// ::-webkit-scrollbar{
//     width: 3px;
//     height: 2px;
// }
// ::-webkit-scrollbar-thumb{
//     border-radius: 10px;
//     background-color:rgb(7, 78, 170);
// }
// ::-webkit-scrollbar-button {
//     height: 30px;
//   }
