@import '../../assets/stylesheets/common.scss';
.project_profile_overall_contain{
  border: 1px solid transparent;
  width: 100%;
  height: 80vh;
  .project_profile_top{
    //border: 1px solid #2424;
    width: 85%;
    height: 50px;
    margin: 2.5% auto;
    display: flex;
    justify-content: space-between;

    .project_profile_headind_text{
      font-size: 18px;
      font-weight: 700;
      margin-top: 1.7%;
      //display:flex;
      color: #3253e2;
      cursor: default;
      //border: 1px solid red;
    }

    .add_proj_btn{
      //padding: 0.5% 2.5% 0.5% 2.5% ;
      border: 2px solid rgb(7, 78, 170);
      border-radius: 10px;
      background-color: white;
      color: rgb(7, 78, 170);
      font-size: 12px;
      font-weight: 600;
      width: 14%;
      height: 80%;
      margin-top: 1%;
      cursor: pointer;
    }

    .add_proj_btn:hover{
      box-shadow: rgba(109, 109, 109, 0.411) 2px 2px 3px 1px;
      border: 2px solid rgb(7, 78, 170);
      background-color: rgb(7, 78, 170);
      color: white;
    }

  }

  .project_profile_table_container{
    //border: 1px solid green;
    width: 97%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0 auto;
    box-shadow: white 0px 2px 8px 0px;
   
    .project_profile_table{
      //border: 1px solid red;
      border-collapse: collapse;
      text-align: center;
      width: 90%;
      margin:0 auto ;

      .project_profile_table_head{
      // border:3px solid green;

        th{
          color: white;
          font-size: 15px;
          padding:2% 0% 2% 1.5%;
          text-align: left;
          background-color:rgb(7, 78, 170) ;
          cursor:default;
          //border: 1px solid red;
        }

      }
      
      .project_profile_table_body{
       border: 1px solid #2424;
       cursor: default;

        td{
         // border: 1px solid violet;
         padding:1.5% 0% 1% 1.5%;
         text-align: left;
         color: #242424;
        }

        .proj_table_icons{
          display: flex;
          //border: 1px solid red;
          margin:10% 0 0 10% ;
         
        }

        .prof_edit_icon{
          margin: 0 0% 0 60%;
          color: blue;
          font-size: 18px;
          cursor: pointer;
        }

        .prof_tash_icon,.prof_eye_icon{
         margin: 0 6% 0 7%;
        }

        .prof_tash_icon{
          color: red;
          font-size: 14px;
          cursor: pointer;
          margin: 0 0% 0 30%;
        }

      }

    }

    .project_profile_table_body:hover{
      background-color: rgba(172, 172, 172, 0.178);
      border-left: 2.5px solid rgb(7, 78, 170);
      border-right: 2.5px solid rgb(7, 78, 170);
    }

  }

}

nav{
  //border: 1px solid red;
 height: 45px;

  .pagination{
    //border: 1px solid blue;
    display: flex;
    justify-content: center;

    li{
     // border: 1px solid green;
      list-style-type: none;
      margin: 1% 0 0 5px;
      padding: 0 10px 0 10px;
      cursor: pointer;
    }
    
    .page-link{
      text-align: center;
      margin-top: 30%;
    }

    .page-item.active{
      background-color:rgb(7, 78, 170);
      color: white;
      border-radius: 5px;
    }
    
  }

}
