.viewhardblockcontainer{
    //border: 2px solid blue;
    // margin-top: 4%;
    height: calc(100vh - 80px);;
    width: 100%;
    .viewhardblockheader{
        border: 1px solid red;
        width: 80%;
        height: 40px;
        margin: 5% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .viewhardblocktext{
            color: #3253e2;
            font-size: 20px;
            font-weight: 600;
        }
        .viewhardblockbtn{
            border: 2px solid #3253e2;
            background-color: #ffff;
            color: #3253e2;
            padding: 7px 30px 7px 30px;
            text-align: center;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bolder;
        }
        .viewhardblockbtn:hover{
            background-color: rgb(7, 78, 170);
            color: rgb(255, 255, 255);
        }
    }
    .hardblockcontainer{
       // outline: 2px solid blueviolet;
        margin-top:  -3% ;
        height: 80%;
       .hardblocktable{
           //border: 1px solid green;
           margin: 0 auto;
           width: 80%;
           border-collapse: collapse;

         

//padding-top: 500px;
           thead{
               //border: 1.5px solid #2424;
               height: 65px;
               text-align: center;
               background-color: rgb(7, 78, 170);
               color: #ffff;
               border-collapse: collapse;

               th{
                   color: white;
               }
           }
           tbody{
              // border: 1px solid red;
               height: 45px;
               text-align: center;
               border: 1.5px solid #2424;
               tr{
                   border-bottom: 1.5px solid #2424;
                 height: 50px;
               
           }
               .hardblockhover:hover{
                background-color: #f3f3f3;
                border-left: 3px solid rgb(7, 78, 170);
                border-right: 3px solid rgb(7, 78, 170);
    
             }
              
           }
       }
       
        
     }
}